.choose__left-input {
    display: block;
}
.choose__left-label {
    display: inline-block;
}
.choose__container {
    @include clearfix;
    color : $grey;
    width: 1123px;
    margin: 0 auto;
}
.choose__title  {
    margin-top: 20px;
     font-family: 'open_sans_condensedbold';
     font-size: 36px;
     text-align: center;
    margin-bottom: 30px;

}
.choose__left {
    width: 266px;
    height: 724px;
    position: relative;
    float: left;
    background: #ebebeb;
}
.choose__left-btn  {
    bottom: 0px;
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    width: 210px;
    height: 45px;
    margin: 0 auto;
        text-align: center;
    padding-top: 12px;
    background: $green;
    color: white;
    font-family: 'open_sansbold';
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 10px;
    &:hover {
        background: #95cf31;
    }
}
.choose__right {
    width: 836px;
    float: right;

}
.choose__right-sort--item {
    display: inline-block;
}
.choose__right-houses--item {
@include inlineblock;
margin-bottom: 21px;
margin-right: 23px;
}
.choose__right-sort--list , .choose__right-sort {
display: inline-block;
margin-top: 20px;
    font-family: 'open_sansregular';
     font-size: 15px;
}
.choose__right-sort--item {
    margin-right: 10px;

}
.choose__right-sort--item a {
    outline: none;

}
.choose__right-sort--link  {
    text-decoration: none;
    color: $grey;
    padding: 5px;
    position: relative;
    padding-right: 17px;
    &:focus{
        background: $green;
        color: white;
        @include border-radius (2px) ;
    }
    &:hover{
        background: $green;
        color: white;
        @include border-radius (2px) ;
    }
    &:after {
        position: absolute;
        display: inline-block;
        content: '';
        top: 14px;
        right: 4px;
        border: 5px solid transparent;
        border-top: 5px solid white;
    }

}
.choose__right-houses--list {
    margin-top: 40px;
}
.choose__right-pagination {
width: 339px;
margin: 0 auto;
margin-bottom: 5px;
}
.choose__right-houses--list {
    margin-bottom: 45px;
}

.choose__left-title {
    font-family: 'open_sanssemibold';
     font-size: 16px;
     margin: 18px 0px 14px 24px;
 }
   .choose__left-line {
        display: block;
        margin: 0 auto;
        margin-bottom: 14px;
        width: 245px;
        height: 1px;
        background:#e1e1e1;
    }


/* чексбоксы */

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + .choose__left-label,
[type="checkbox"]:checked + .choose__left-label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  outline: none;
  font-family: 'open_sanssemibold';
     font-size: 13px;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + .choose__left-label:before,
[type="checkbox"]:checked + .choose__left-label:before {
  content: '';
  outline: none !important;
  position: absolute;
  left:0; top: 2px;
  width: 14px; height: 14px;
  background:white;
@include border-radius (2px);

}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + .choose__left-label:after,
[type="checkbox"]:checked + .choose__left-label:after {
  content: '✔';
  position: absolute;
  top: 3px; left: 1px;
  font-size: 17px;
  line-height: 0.8;
  color:  $green;
  transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + .choose__left-label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + .choose__left-label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + .choose__left-label:before,
[type="checkbox"]:disabled:checked + .choose__left-label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + .choose__left-label:after {
  color: #999;
}
[type="checkbox"]:disabled + .choose__left-label {
  color: #aaa;
}


/* hover style just for information */
label:hover:before {
  border: 1px solid $green !important;
}

.choose__left-label {
    margin-left: 24px;
    margin-bottom: 5px;
}
.choose__left-label--small {
    display: block;
}
.choose__left-reset {
    border: none;
    outline: none;
    background: #ebebeb;
    font-family: 'open_sanssemibold';
     font-size: 13px;
     color: $grey;
     width: 115px;
     &:hover {
      text-decoration: underline;
     }
}
.choose__left-reset--wrap {
    width: 115px;
     margin: 0 auto;

}

/* range slider */
/* Ширина слайдера */
#slider , #slider_two {
    margin: 0 auto;
    width: 220px;
    margin-top: 15px;

}
/* Контейнер слайдера */
.ui-slider {
    position: relative;
}
.ui-state-focus  {
    outline: none;
    border: none;
}
/* Ползунок */
.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 13px;   /* Задаем нужную ширину */
    height: 13px;  /* и высоту */
    background: url(../img/range.png) no-repeat; /* картинка изображающая ползунок. Или можно залить цветом, задать бордюр и скругления */
    cursor: pointer;
}
.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    overflow: hidden;
}
/* горизонтальный слайдер (сама полоса по которой бегает ползунок) */
.ui-slider-horizontal {
     height: 8px; /* задаем высоту согласно дизайна */
}
/* позиционируем ползунки */
.ui-slider-horizontal .ui-slider-handle {
    top: -3px;
    margin-left: -6px;
}
.ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
    left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
    right: 0;
}
/* оформление полосы по которой ходит ползунок */
.ui-widget-content {
    border: 1px solid #D4D4D4;
    background: #fff;
}
/* оформление активного участка (между двумя ползунками) */
.ui-widget-header {

    background: #f57d4d;
}
/* скругление для полосы слайдера */
.ui-corner-all {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.choose__left-area-input {
    border: none;
    margin: 0px 11px 0px 3px;
    outline: none;
    display: inline-block;
    width: 44px;
    padding: 5px 6px;
    font-family: 'open_sanssemibold';
     font-size: 13px;
     color: $grey;
        &:focus {
            border: 1px solid $green;
        }
}
.choose__left-cost-input {
    width: 56px;
    padding: 5px 6px;
    margin: 0px 10px 0px 3px;
}
.span__input {
    font-family: 'open_sanssemibold';
     font-size: 13px;
    display: inline-block;
}
.choose__left-area--wrap {
   margin-left: 23px;
}