extends ../layouts/layout.jade

block content
	.choose__container
		p.choose__title Выбор проекта
		.choose__left
			form(action='')
				.choose__left-title Категория дома
				.choose__left-line
				input.choose__left-input(type='checkbox', value='1', id='checkbox1')
				label.choose__left-label(for='checkbox1') Профилированный брус
				input.choose__left-input(type='checkbox',  value='2', id='checkbox2')
				label.choose__left-label(for='checkbox2') Каркасные дома
				input.choose__left-input(type='checkbox', value='3', id='checkbox3')
				label.choose__left-label(for='checkbox3') Деревянные бани
				input.choose__left-input(type='checkbox', value='4', id='checkbox4')
				label.choose__left-label(for='checkbox4') Деревянные бани
				input.choose__left-input(type='checkbox', value='5', id='checkbox5')
				label.choose__left-label(for='checkbox5') Дачные дома
				input.choose__left-input(type='checkbox', value='6', id='checkbox6')
				label.choose__left-label(for='checkbox6') Сферические дома и бани
				input.choose__left-input(type='checkbox', value='7', id='checkbox7')
				label.choose__left-label(for='checkbox7') Дома с участками
				.choose__left-title Этажность
				.choose__left-line
				input.choose__left-input(type='checkbox', value='8', id='checkbox8')
				label.choose__left-label.choose__left-label--small(for='checkbox8') Один этаж
				input.choose__left-input(type='checkbox',  value='9', id='checkbox9')
				label.choose__left-label(for='checkbox9') Два этажа
				input.choose__left-input(type='checkbox', value='10', id='checkbox10')
				label.choose__left-label(for='checkbox10') Два этажа (мансарда)
				.choose__left-title Площадь
				.choose__left-line
				.choose__left-area--wrap
					span.span__input От
					input.choose__left-area-input(type="text" id="minArea" value="50")
					span.span__input до
					input.choose__left-area-input(type="text" id="maxArea" value="1000")
					span.span__input кв.м
				div(id="slider")
				.choose__left-title Цена
				.choose__left-line
				.choose__left-area--wrap
					span.span__input От
					input.choose__left-cost-input.choose__left-area-input(type="text" id="minCost" value="10000")
					span.span__input до
					input.choose__left-cost-input.choose__left-area-input(type="text" id="maxCost" value="100000")
					span.span__input тыс.руб
				div(id="slider_two")
				a(href='#').choose__left-btn Смотреть все проекты
				.choose__left-reset--wrap
					input.choose__left-reset(id='reset' type='reset' value="Сбросить фильтр")
		.choose__right
			p.choose__right-sort Сортировать:
			ul.choose__right-sort--list
				li.choose__right-sort--item
					a(href='#').choose__right-sort--link Популярность
				li.choose__right-sort--item
					a(href='#').choose__right-sort--link Цена
				li.choose__right-sort--item
					a(href='#').choose__right-sort--link Площадь
				li.choose__right-sort--item
					a(href='#').choose__right-sort--link Технология
			ul.choose__right-houses--list
				li.choose__right-houses--item
					a( target="_blank" href='').projects__item
						img(src='../img/house3.jpg' alt='projects').projects__item-img
						.projects__item-line
						p.projects__item-title Триумф КА 025
						p.projects__item-text Каркасный дом
						p.projects__item-number 99 м<sup>2</sup>
						.projects__item-line
						p.projects__item-price--old 2 000 000 руб.
						p.projects__item-price--new  1 970 000  <span> руб.</span>
				li.choose__right-houses--item
					a( target="_blank" href='').projects__item
						img(src='../img/house3.jpg' alt='projects').projects__item-img
						.projects__item-line
						p.projects__item-title Триумф КА 025
						p.projects__item-text Каркасный дом
						p.projects__item-number 99 м<sup>2</sup>
						.projects__item-line
						p.projects__item-price--old 2 000 000 руб.
						p.projects__item-price--new  1 970 000  <span> руб.</span>
				li.choose__right-houses--item
					a( target="_blank" href='').projects__item
						img(src='../img/house3.jpg' alt='projects').projects__item-img
						.projects__item-line
						p.projects__item-title Триумф КА 025
						p.projects__item-text Каркасный дом
						p.projects__item-number 99 м<sup>2</sup>
						.projects__item-line
						p.projects__item-price--old 2 000 000 руб.
						p.projects__item-price--new  1 970 000  <span> руб.</span>
				li.choose__right-houses--item
					a( target="_blank" href='').projects__item
						img(src='../img/house3.jpg' alt='projects').projects__item-img
						.projects__item-line
						p.projects__item-title Триумф КА 025
						p.projects__item-text Каркасный дом
						p.projects__item-number 99 м<sup>2</sup>
						.projects__item-line
						p.projects__item-price--old 2 000 000 руб.
						p.projects__item-price--new  1 970 000  <span> руб.</span>
				li.choose__right-houses--item
					a( target="_blank" href='').projects__item
						img(src='../img/house3.jpg' alt='projects').projects__item-img
						.projects__item-line
						p.projects__item-title Триумф КА 025
						p.projects__item-text Каркасный дом
						p.projects__item-number 99 м<sup>2</sup>
						.projects__item-line
						p.projects__item-price--old 2 000 000 руб.
						p.projects__item-price--new  1 970 000  <span> руб.</span>
				li.choose__right-houses--item
					a( target="_blank" href='').projects__item
						img(src='../img/house3.jpg' alt='projects').projects__item-img
						.projects__item-line
						p.projects__item-title Триумф КА 025
						p.projects__item-text Каркасный дом
						p.projects__item-number 99 м<sup>2</sup>
						.projects__item-line
						p.projects__item-price--old 2 000 000 руб.
						p.projects__item-price--new  1 970 000  <span> руб.</span>
			ul.choose__right-pagination.pagination__list
						li.pagination__item
							a.pagination__link-prev(href='') назад
						li.pagination__item
							a.pagination__link(href='#') 1
						li.pagination__item
							a.pagination__link(href='#') 2
						li.pagination__item
							a.pagination__link(href='#') 3
						li.pagination__item
							a.pagination__link(href='#') 4
						li.pagination__item
							a.pagination__link(href='#') 5
						li.pagination__item
							a.pagination__link(href='#') 6
						li.pagination__item
							a.pagination__link-next(href='#') вперед
	include ../common/feedback.jade
	include ../common/seotext.jade



