extends ../layouts/layout.jade


block content
	.technology
		.technology__container
			ul.breadcrumbs-list
						each items, index in ['Главная', 'Технологии']
							li.breadcrumbs-item
								a(href="index.html" , target="_blank" class='breadcrumbs-link' + ((index == 2) ? ' breadcrumbs__link--active' : ''))= items
			.technology__left
				p.technology__left-title Технология строительства
				ul.technology-tabs__control
					li.technology-tabs__control-item(data-class="13")
						a.technology-tabs__control-link(href="") Каркасный дом
					li.technology-tabs__control-item(data-class="14")
						a.technology-tabs__control-link(href="") Дом из профилированного бруса
					li.technology-tabs__control-item(data-class="15")
						a.technology-tabs__control-link(href="") Дом из клееного бруса
					li.technology-tabs__control-item(data-class="16")
						a.technology-tabs__control-link(href="") Сфорические дома и бани
				a( target="_blank" href='projects.html').technology__left-btn Смотреть все проекты
			.technology__right
				ul.technology-tabs__list
					li.technology-tabs__list-item.technology-tabs__list-item--13.active
						.technology-tabs__list-right
							p.technology-tabs__list-title Технологии строительства каркасного дома
							p.technology-tabs__list-text Он собрал семь своих заглавных букв, подпоясал инициал за пояс и пустился в дорогу. Взобравшись на первую вершину курсивных гор, бросил он последний взгляд назад, на силуэт своего родного города Буквоград, на заголовок деревни Алфавит и на подзаголовок своего переулка Строчка.
							p.technology-tabs__list-text  Он собрал семь своих заглавных букв, подпоясал инициал за пояс и пустился в дорогу. Взобравшись на первую вершину курсивных гор, бросил он последний взгляд назад, на силуэт своего родного города Буквоград, на заголовок деревни Алфавит и на подзаголовок своего переулка Строчка.
							.technology-tabs__list-img1--wrap
								img.technology-tabs__list-img1(alt='technology' src='../img/technology1.jpg')
						.technology-tabs__list-left
							.technology-tabs__list-left--left
								p.technology-tabs__list-text--right Грустный реторический вопрос скатился по его щеке и он продолжил свой путь. По дороге встретил текст рукопись. Она предупредила его: «В моей стране все переписывается по несколько раз. Единственное, что от меня осталось, это приставка «и». Возвращайся ты лучше в свою безопасную страну».
								p.technology-tabs__list-text--right  Не послушавшись рукописи, наш текст продолжил свой путь. Вскоре ему повстречался коварный составительреторический вопрос скатился по его щеке и он продолжил свой путь. Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами.
							.technology-tabs__list-left--right
								.technology-tabs__list-img2--wrap
									img.technology-tabs__list-img2(alt='technology' src='../img/technology2.jpg')
					li.technology-tabs__list-item.technology-tabs__list-item--14
						.technology-tabs__list-right
							p.technology-tabs__list-title Технологии строительства Дом из профилированного бруса
							p.technology-tabs__list-text Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни. Однажды одна маленькая строчка рыбного текста по имени Lorem ipsum решила выйти в большой мир грамматики. Великий Оксмокс предупреждал ее о злых запятых, диких знаках вопроса и коварных точках с запятой, но текст не дал сбить себя с толку.
							p.technology-tabs__list-text  Он собрал семь своих заглавных букв, подпоясал инициал за пояс и пустился в дорогу. Взобравшись на первую вершину курсивных гор, бросил он последний взгляд назад, на силуэт своего родного города Буквоград, на заголовок деревни Алфавит и на подзаголовок своего переулка Строчка.
							.technology-tabs__list-img1--wrap
								img.technology-tabs__list-img1(alt='technology' src='../img/technology1.jpg')
						.technology-tabs__list-left
							.technology-tabs__list-left--left
								p.technology-tabs__list-text--right Грустный реторический вопрос скатился по его щеке и он продолжил свой путь. По дороге встретил текст рукопись. Она предупредила его: «В моей стране все переписывается по несколько раз. Единственное, что от меня осталось, это приставка «и». Возвращайся ты лучше в свою безопасную страну».
								p.technology-tabs__list-text--right  Не послушавшись рукописи, наш текст продолжил свой путь. Вскоре ему повстречался коварный составительреторический вопрос скатился по его щеке и он продолжил свой путь. Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами.
							.technology-tabs__list-left--right
								.technology-tabs__list-img2--wrap
									img.technology-tabs__list-img2(alt='technology' src='../img/technology2.jpg')
					li.technology-tabs__list-item.technology-tabs__list-item--15
						.technology-tabs__list-right
							p.technology-tabs__list-title Технологии строительства Дом из клееного бруса
							p.technology-tabs__list-text Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный дугообразными чешуйками живот, на верхушке которого еле держалось готовое вот-вот окончательно сползти одеяло.
							p.technology-tabs__list-text   Его многочисленные, убого тонкие по сравнению с остальным телом ножки беспомощно копошились у него перед глазами. «Что со мной случилось?» – подумал он. Это не было сном. Его комната, настоящая, разве что слишком маленькая, но обычная комната, мирно покоилась в своих четырех хорошо знакомых стенах. Над столом, где были разложены распакованные образцы сукон – Замза был коммивояжером, – висел портрет, который он недавно вырезал из иллюстрированного журнала и вставил в красивую золоченую рамку
							.technology-tabs__list-img1--wrap
								img.technology-tabs__list-img1(alt='technology' src='../img/technology1.jpg')
						.technology-tabs__list-left
							.technology-tabs__list-left--left
								p.technology-tabs__list-text--right На портрете была изображена дама в меховой шляпе и боа, она сидела очень прямо и протягивала зрителю тяжелую меховую муфту, в которой целиком исчезала ее рука. Затем взгляд Грегора устремился в окно, и пасмурная погода – слышно было, как по жести подоконника стучат капли дождя – привела его и вовсе в грустное настроение. «Хорошо бы еще немного поспать и забыть всю эту чепуху», – подумал он, но это было совершенно неосуществимо, он привык спать на правом боку, а в теперешнем своем состоянии он никак не мог принять этого положения.
								p.technology-tabs__list-text--right  С какой бы силой ни поворачивался он на правый бок, он неизменно сваливался опять на спину. Закрыв глаза, чтобы не видеть своих барахтающихся ног, он проделал это добрую сотню раз и отказался от этих попыток только тогда, когда почувствовал какую-то неведомую дотоле, тупую и слабую боль в боку. «Ах ты, господи, – подумал он, – какую я выбрал хлопотную профессию!
							.technology-tabs__list-left--right
								.technology-tabs__list-img2--wrap
									img.technology-tabs__list-img2(alt='technology' src='../img/technology2.jpg')
					li.technology-tabs__list-item.technology-tabs__list-item--16
						.technology-tabs__list-right
							p.technology-tabs__list-title Технологии строительства Сфорические дома и бани
							p.technology-tabs__list-text  Космелься я вести себя так, мои хозяин выгнал бы меня сразу. Кто знает, впрочем, может быть, это было бы даже очень хорошо для меня. Если бы я не сдерживался ради родителей, я бы давно заявил об уходе, я бы подошел к своему хозяину и выложил ему все, что о нем думаю.
							p.technology-tabs__list-text  Он бы так и свалился с конторки! Странная у него манера – садиться на конторку и с ее высоты разговаривать со служащим, который вдобавок вынужден подойти вплотную к конторке из-за того, что хозяин туг на ухо. Однако надежда еще не совсем потеряна: как только я накоплю денег, чтобы выплатить долг моих родителей – на это уйдет еще лет пять-шесть, – я так и поступлю. Тут-то мы и распрощаемся раз и навсегда. А пока что надо подниматься, мой поезд отходит в пять».
							.technology-tabs__list-img1--wrap
								img.technology-tabs__list-img1(alt='technology' src='../img/technology2.jpg')
						.technology-tabs__list-left
							.technology-tabs__list-left--left
								p.technology-tabs__list-text--right И он взглянул на будильник, который тикал на сундуке. «Боже правый!» – подумал он. Было половина седьмого, и стрелки спокойно двигались дальше, было даже больше половины, без малого уже три четверти. Неужели будильник не звонил?
								p.technology-tabs__list-text--right  С кровати было видно, что он поставлен правильно, на четыре часа; и он, несомненно, звонил. Но как можно было спокойно спать под этот сотрясающий мебель трезвон? Ну, спал-то он неспокойно, но, видимо, крепко. Однако что делать теперь?
							.technology-tabs__list-left--right
								.technology-tabs__list-img2--wrap
									img.technology-tabs__list-img2(alt='technology' src='../img/technology1.jpg')
		include ../common/seotext.jade