section.main-page__feedback
        .main-page-container
            .main-page-container--feedback
                h2.projects__title Отзывы о нашей работе
                a(href='' target='_blank').projects__link Смотреть все отзывы
                ul.feedback__bxslider
                    li.feedback__bxslider-item
                        .feedback__bxslider-wrap
                            .bxslider-wrap__left
                                .bxslider-wrap__left-img--wrap
                                    img(alt='photo' src='../img/feedback.jpg').bxslider-wrap__left-img
                                p.bxslider-wrap__left-text Екатерина <br> г.Санкт-Петербург </br>
                            .bxslider-wrap__right
                                .bxslider-wrap__right-video--wrap
                                    p.bxslider-wrap__right-text Строительство каркасного дома
                                    iframe.bxslider-wrap__right-video(width="820" height="389" src="https://www.youtube.com/embed/nT4ig2z2heg" frameborder="0" allowfullscreen)
                                .bxslider-wrap__right-fancybox--wrap
                                    a.fancybox__link(href="../img/house-big.jpg" class="fancybox" rel="gallery" )
                                        img(src="../img/house1.jpg")
                                    a.fancybox__link(href="../img/house-big1.jpg" class="fancybox" rel="gallery")
                                        img(src="../img/house4.jpg")
                                    a.fancybox__link(href="../img/house-big2.jpg" class="fancybox" rel="gallery" )
                                        img(src="../img/house3.jpg")
                                    a.fancybox__link(href="../img/house-big3.jpg" class="fancybox" rel="gallery" )
                                        img(src="../img/house2.jpg")
                    li.feedback__bxslider-item
                        .feedback__bxslider-slider-wrap
                            .bxslider-wrap__left
                                .bxslider-wrap__left-img--wrap
                                    img(alt='photo' src='../img/feedback2.jpg').bxslider-wrap__left-img
                                p.bxslider-wrap__left-text Дмитрий <br> г.Киров </br>
                            .bxslider-wrap__right
                                .bxslider-wrap__right-video--wrap
                                    p.bxslider-wrap__right-text Строительство каркасного дома
                                    iframe.bxslider-wrap__right-video(width="820" height="389" src="https://www.youtube.com/embed/nT4ig2z2heg" frameborder="0" allowfullscreen)
                                .bxslider-wrap__right-fancybox--wrap
                                    a.fancybox__link(href="../img/house-big.jpg" class="fancybox" rel="gallery2" )
                                        img(src="../img/house1.jpg")
                                    a.fancybox__link(href="../img/house-big1.jpg" class="fancybox" rel="gallery2")
                                        img(src="../img/house4.jpg")
                                    a.fancybox__link(href="../img/house-big2.jpg" class="fancybox" rel="galleryy2" )
                                        img(src="../img/house3.jpg")
                                    a.fancybox__link(href="../img/house-big3.jpg" class="fancybox" rel="gallery2" )
                                        img(src="../img/house2.jpg")
                    li.feedback__bxslider-item
                        .feedback__bxslider-slider-wrap
                            .bxslider-wrap__left
                                .bxslider-wrap__left-img--wrap
                                    img(alt='photo' src='../img/feedback1.jpg').bxslider-wrap__left-img
                                p.bxslider-wrap__left-text Владимир <br> г.Москва </br>
                            .bxslider-wrap__right
                                .bxslider-wrap__right-video--wrap
                                    p.bxslider-wrap__right-text Строительство каркасного дома
                                    iframe.bxslider-wrap__right-video(width="820" height="389" src="https://www.youtube.com/embed/nT4ig2z2heg" frameborder="0" allowfullscreen)
                                .bxslider-wrap__right-fancybox--wrap
                                    a.fancybox__link(href="../img/house-big.jpg" class="fancybox" rel="gallery3" )
                                        img(src="../img/house1.jpg")
                                    a.fancybox__link(href="../img/house-big1.jpg" class="fancybox" rel="gallery3")
                                        img(src="../img/house4.jpg")
                                    a.fancybox__link(href="../img/house-big2.jpg" class="fancybox" rel="gallery3" )
                                        img(src="../img/house3.jpg")
                                    a.fancybox__link(href="../img/house-big3.jpg" class="fancybox" rel="gallery3")
                                        img(src="../img/house2.jpg")