footer.footer
	.footer__container
		.footer__list-wrap
			ul.footer__list-big
				li.footer__list-item.footer__list-item--border
					ul.footer__list-small.footer__list-small--first
						li.footer__list-subitem
							a(href='#' target='_blank').subitem__link Каркасные дома
						li.footer__list-subitem
							a(href='#' target='_blank').subitem__link Дома из профилированного бруса
						li.footer__list-subitem
							a(href='#' target='_blank').subitem__link Деревянные бани
						li.footer__list-subitem
							a(href='#' target='_blank').subitem__link Дачные дома
						li.footer__list-subitem
							a(href='#' target='_blank').subitem__link Сферические дома и бани
						li.footer__list-subitem
							a(href='#' target='_blank').subitem__link Участки

				li.footer__list-item.footer__list-item--border-two
					ul.footer__list-small
						li.footer__list-subitem
							a(href='#' target='_blank').subitem__link Фундаменты
						li.footer__list-subitem
							a(href='#' target='_blank').subitem__link Инженерные коммуникации
						li.footer__list-subitem
							a(href='#' target='_blank').subitem__link Заборы
						li.footer__list-subitem
							a(href='#' target='_blank').subitem__link Подъем домов / ремонт фундаментов
						li.footer__list-subitem
							a(href='#' target='_blank').subitem__link Ландшафтный дизайн
				li.footer__list-item
					ul.footer__list-small
						li.footer__list-subitem
							a(href='' target='_blank').subitem__link Примеры работ
						li.footer__list-subitem
							a(href='' target='_blank').subitem__link Отзывы
						li.footer__list-subitem
							a(href='technology.html' target='_blank').subitem__link Технологии
						li.footer__list-subitem
							a(href='record.html' target='_blank').subitem__link Контакты
		.footer__questions
			span.footer__questions-green Остались вопросы?
			span.footer__questions-call звоните прямо сейчас:
			a.footer__questions-number(href="tel:+88005003325") 8(800) 500-33-25
			a.footer__questions-mail(href="mailto:mail@investstroytrest.ru") mail@investstroytrest.ru
		.footer__text-wrap
			p.footer__text Инвест Строй Трест 2016
			a.footer__text-politic(href="#") Политика конфиденциальности



