head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		meta(name='viewport', content='width=device-width, initial-scale=1')

		title
			block title
		//-seo
		meta(name="description", content="")
		meta(name="keywords", content="")
		meta(name="author", content="")
		//-favicon
		link(rel='shortcut icon', href='./favicon.ico', type='image/x-icon')
		link(rel='icon', href='./favicon.ico', type='image/x-icon')

		// build:css css/vendor.min.css
		// bower:css
		link(rel="stylesheet" href="/bower/fancybox/source/jquery.fancybox.css" type="text/css" media="screen")
		//- link(rel='stylesheet', href='/bower/bxslider-4/dist/jquery.bxslider.css')
		//- link(rel='stylesheet', href='/bower/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css')
		// endbower
		//endbuild

		// build:css css/main.min.css
		link(rel='stylesheet', href='css/jquery.mCustomScrollbar.min.css' )
		link(rel='stylesheet', href='css/main.css' , media="screen, projection, print")
		//endbuild

		// build:js js/modernizr.min.js
		script(src='bower/modernizr/modernizr.js')
		// endbuild