header.header
	.header__container
		.header__top
			a(href="index.html").header__logo
				img(src='../img/лого.png').header__logo-img
			.header__text
				p.header__text-content Строим надежные дома и бани <br> От фундамента до инженерных коммуникаций <br> В Москве и Санкт-Петербурге
			.header__lk
				a(href="").header__lk-link личный кабинет
			.header__phones
				.header__phones-russia
					p.header__phones-text Бесплатно по России
					a.header__phones-number(href="tel:+88005003325") 8(800) 500-33-25
				.header__phones-spb
					p.header__phones-text Санкт-Петербург
					a.header__phones-number(href="tel:+88124261869") 8(812) 426-18-69

		.header__bottom
			nav.header__nav
				ul.header__nav-list
					li.header__nav-item
						a.header__nav-link(href="projects.html") Проекты
						.header__nav-block.header__nav-block--one
							ul.nav-tabs__controls
								li.nav-tabs__controls-item(data-class="one")
									a.nav-tabs__controls-link(href="") Каркасные дома
								li.nav-tabs__controls-item(data-class="two")
									a.nav-tabs__controls-link(href="") Дома из профилированного бруса
								li.nav-tabs__controls-item(data-class="three")
									a.nav-tabs__controls-link(href="") Деревянные бани
								li.nav-tabs__controls-item(data-class="four")
									a.nav-tabs__controls-link(href="") Дачные дома
								li.nav-tabs__controls-item(data-class="five")
									a.nav-tabs__controls-link(href="") Сферические дома и бани
								li.nav-tabs__controls-item(data-class="six")
									a.nav-tabs__controls-link(href="") Участки
							ul.nav-tabs__list
								li.nav-tabs__list-item.nav-tabs__list-item--one.active
									p.nav-tabs__list-item--text Строительство бань от 2-х недель
									p.nav-tabs__list-item-paragraph Построить баню в течение двух недель считалось ранее возможным. Наша кмопания имеет на складе бани в разобранном состоянии-что позволяет их собирать в кратчайший срок.
									a(href='').nav-tabs__list-item--bathroom.bathroom-1
										img(src='../img/house1.jpg').bathroom__img
										span.bathroom__text Бани из сруба
									a(href='').nav-tabs__list-item--bathroom
										img(src='../img/house2.jpg').bathroom__img
										span.bathroom__text Бани из сруба
								li.nav-tabs__list-item.nav-tabs__list-item--two
									p.nav-tabs__list-item--text Строительство бань от 3-х недель
									p.nav-tabs__list-item-paragraph Построить баню в течение двух недель считалось ранее возможным. Наша кмопания имеет на складе бани в разобранном состоянии-что позволяет их собирать в кратчайший срок.
									a(href='').nav-tabs__list-item--bathroom.bathroom-1
										img(src='../img/house1.jpg').bathroom__img
										span.bathroom__text Бани из сруба
									a(href='').nav-tabs__list-item--bathroom.bathroom-1
										img(src='../img/house2.jpg').bathroom__img
										span.bathroom__text Бани из сруба
								li.nav-tabs__list-item.nav-tabs__list-item--three
									p.nav-tabs__list-item--text Строительство бань от 4-х недель
									p.nav-tabs__list-item-paragraph Построить баню в течение двух недель считалось ранее возможным. Наша кмопания имеет на складе бани в разобранном состоянии-что позволяет их собирать в кратчайший срок.
									a(href='').nav-tabs__list-item--bathroom.bathroom-1
										img(src='../img/house3.jpg').bathroom__img
										span.bathroom__text Бани из сруба
									a(href='').nav-tabs__list-item--bathroom
										img(src='../img/house2.jpg').bathroom__img
										span.bathroom__text Бани из сруба
								li.nav-tabs__list-item.nav-tabs__list-item--four
									p.nav-tabs__list-item--text Строительство бань от 5-х недель
									p.nav-tabs__list-item-paragraph Построить баню в течение двух недель считалось ранее возможным. Наша кмопания имеет на складе бани в разобранном состоянии-что позволяет их собирать в кратчайший срок.
									a(href='').nav-tabs__list-item--bathroom.bathroom-1
										img(src='../img/house3.jpg').bathroom__img
										span.bathroom__text Бани из сруба
									a(href='').nav-tabs__list-item--bathroom
										img(src='../img/house2.jpg').bathroom__img
										span.bathroom__text Бани из сруба
								li.nav-tabs__list-item.nav-tabs__list-item--five
									p.nav-tabs__list-item--text Строительство бань от 6-х недель
									p.nav-tabs__list-item-paragraph Построить баню в течение двух недель считалось ранее возможным. Наша кмопания имеет на складе бани в разобранном состоянии-что позволяет их собирать в кратчайший срок.
									a(href='').nav-tabs__list-item--bathroom.bathroom-1
										img(src='../img/house3.jpg').bathroom__img
										span.bathroom__text Бани из сруба
									a(href='').nav-tabs__list-item--bathroom
										img(src='../img/house2.jpg').bathroom__img
										span.bathroom__text Бани из сруба

								li.nav-tabs__list-item.nav-tabs__list-item--six
									p.nav-tabs__list-item--text Строительство бань от 7-х недель
									p.nav-tabs__list-item-paragraph Построить баню в течение двух недель считалось ранее возможным. Наша кмопания имеет на складе бани в разобранном состоянии-что позволяет их собирать в кратчайший срок.
									a(href='').nav-tabs__list-item--bathroom.bathroom-1
										img(src='../img/house4.jpg').bathroom__img
										span.bathroom__text Бани из сруба
									a(href='').nav-tabs__list-item--bathroom
										img(src='../img/house3.jpg').bathroom__img
										span.bathroom__text Бани из сруба
					li.header__nav-item
						a.header__nav-link(href="") Строительные услуги
						.header__nav-block.header__nav-block--two
							ul.nav-tabs__controls
								li.nav-tabs__controls-item(data-class="7")
									a.nav-tabs__controls-link(href="") Каркасные дома
								li.nav-tabs__controls-item(data-class="8")
									a.nav-tabs__controls-link(href="") Дома из профилированного бруса
								li.nav-tabs__controls-item(data-class="9")
									a.nav-tabs__controls-link(href="") Деревянные бани
								li.nav-tabs__controls-item(data-class="10")
									a.nav-tabs__controls-link(href="") Дачные дома
								li.nav-tabs__controls-item(data-class="11")
									a.nav-tabs__controls-link(href="") Сферические дома и бани
								li.nav-tabs__controls-item(data-class="12")
									a.nav-tabs__controls-link(href="") Участки
							ul.nav-tabs__list
								li.nav-tabs__list-item.nav-tabs__list-item--7.active
									p.nav-tabs__list-item--text Строительство бань от 2-х недель
									p.nav-tabs__list-item-paragraph Построить баню в течение двух недель считалось ранее возможным. Наша кмопания имеет на складе бани в разобранном состоянии-что позволяет их собирать в кратчайший срок.
									a(href='').nav-tabs__list-item--bathroom.bathroom-1
										img(src='../img/house1.jpg').bathroom__img
										span.bathroom__text Бани из сруба
									a(href='').nav-tabs__list-item--bathroom
										img(src='../img/house2.jpg').bathroom__img
										span.bathroom__text Бани из сруба
								li.nav-tabs__list-item.nav-tabs__list-item--8
									p.nav-tabs__list-item--text Строительство бань от 3-х недель
									p.nav-tabs__list-item-paragraph Построить баню в течение двух недель считалось ранее возможным. Наша кмопания имеет на складе бани в разобранном состоянии-что позволяет их собирать в кратчайший срок.
									a(href='').nav-tabs__list-item--bathroom.bathroom-1
										img(src='../img/house1.jpg').bathroom__img
										span.bathroom__text Бани из сруба
									a(href='').nav-tabs__list-item--bathroom.bathroom-1
										img(src='../img/house2.jpg').bathroom__img
										span.bathroom__text Бани из сруба
								li.nav-tabs__list-item.nav-tabs__list-item--9
									p.nav-tabs__list-item--text Строительство бань от 4-х недель
									p.nav-tabs__list-item-paragraph Построить баню в течение двух недель считалось ранее возможным. Наша кмопания имеет на складе бани в разобранном состоянии-что позволяет их собирать в кратчайший срок.
									a(href='').nav-tabs__list-item--bathroom.bathroom-1
										img(src='../img/house3.jpg').bathroom__img
										span.bathroom__text Бани из сруба
									a(href='').nav-tabs__list-item--bathroom
										img(src='../img/house2.jpg').bathroom__img
										span.bathroom__text Бани из сруба
								li.nav-tabs__list-item.nav-tabs__list-item--10
									p.nav-tabs__list-item--text Строительство бань от 5-х недель
									p.nav-tabs__list-item-paragraph Построить баню в течение двух недель считалось ранее возможным. Наша кмопания имеет на складе бани в разобранном состоянии-что позволяет их собирать в кратчайший срок.
									a(href='').nav-tabs__list-item--bathroom.bathroom-1
										img(src='../img/house3.jpg').bathroom__img
										span.bathroom__text Бани из сруба
									a(href='').nav-tabs__list-item--bathroom
										img(src='../img/house2.jpg').bathroom__img
										span.bathroom__text Бани из сруба
								li.nav-tabs__list-item.nav-tabs__list-item--11
									p.nav-tabs__list-item--text Строительство бань от 6-х недель
									p.nav-tabs__list-item-paragraph Построить баню в течение двух недель считалось ранее возможным. Наша кмопания имеет на складе бани в разобранном состоянии-что позволяет их собирать в кратчайший срок.
									a(href='').nav-tabs__list-item--bathroom.bathroom-1
										img(src='../img/house3.jpg').bathroom__img
										span.bathroom__text Бани из сруба
									a(href='').nav-tabs__list-item--bathroom
										img(src='../img/house2.jpg').bathroom__img
										span.bathroom__text Бани из сруба

								li.nav-tabs__list-item.nav-tabs__list-item--12
									p.nav-tabs__list-item--text Строительство бань от 7-х недель
									p.nav-tabs__list-item-paragraph Построить баню в течение двух недель считалось ранее возможным. Наша кмопания имеет на складе бани в разобранном состоянии-что позволяет их собирать в кратчайший срок.
									a(href='').nav-tabs__list-item--bathroom.bathroom-1
										img(src='../img/house4.jpg').bathroom__img
										span.bathroom__text Бани из сруба
									a(href='').nav-tabs__list-item--bathroom
										img(src='../img/house3.jpg').bathroom__img
										span.bathroom__text Бани из сруба
					li.header__nav-item
						a.header__nav-link(href="technology.html") Технологии
						.header__nav-block.header__nav-block--three
							ul.nav-tabs__controls
								li.nav-tabs__controls-item
									a.nav-tabs__controls-link(href="") Каркасные дома
								li.nav-tabs__controls-item
									a.nav-tabs__controls-link(href="") Дома из профилированного бруса
								li.nav-tabs__controls-item
									a.nav-tabs__controls-link(href="") Деревянные бани
								li.nav-tabs__controls-item
									a.nav-tabs__controls-link(href="") Дачные дома
								li.nav-tabs__controls-item
									a.nav-tabs__controls-link(href="") Сферические дома и бани
								li.nav-tabs__controls-item
									a.nav-tabs__controls-link(href="") Участки
							ul.nav-tabs__list
								li.nav-tabs__list-item.active
									p.nav-tabs__list-item--text Строительство бань от 2-х недель
									p.nav-tabs__list-item-paragraph Построить баню в течение двух недель считалось ранее возможным. Наша кмопания имеет на складе бани в разобранном состоянии-что позволяет их собирать в кратчайший срок.
									a(href='').nav-tabs__list-item--bathroom.bathroom-1
										img(src='../img/house1.jpg').bathroom__img
										span.bathroom__text Бани из сруба
									a(href='').nav-tabs__list-item--bathroom
										img(src='../img/house2.jpg').bathroom__img
										span.bathroom__text Бани из сруба
								li.nav-tabs__list-item
									p.nav-tabs__list-item--text Строительство бань от 3-х недель
									p.nav-tabs__list-item-paragraph Построить баню в течение двух недель считалось ранее возможным. Наша кмопания имеет на складе бани в разобранном состоянии-что позволяет их собирать в кратчайший срок.
									a(href='').nav-tabs__list-item--bathroom.bathroom-1
										img(src='../img/house1.jpg').bathroom__img
										span.bathroom__text Бани из сруба
									a(href='').nav-tabs__list-item--bathroom.bathroom-1
										img(src='../img/house2.jpg').bathroom__img
										span.bathroom__text Бани из сруба
								li.nav-tabs__list-item
									p.nav-tabs__list-item--text Строительство бань от 4-х недель
									p.nav-tabs__list-item-paragraph Построить баню в течение двух недель считалось ранее возможным. Наша кмопания имеет на складе бани в разобранном состоянии-что позволяет их собирать в кратчайший срок.
									a(href='').nav-tabs__list-item--bathroom.bathroom-1
										img(src='../img/house3.jpg').bathroom__img
										span.bathroom__text Бани из сруба
									a(href='').nav-tabs__list-item--bathroom
										img(src='../img/house2.jpg').bathroom__img
										span.bathroom__text Бани из сруба
								li.nav-tabs__list-item
									p.nav-tabs__list-item--text Строительство бань от 5-х недель
									p.nav-tabs__list-item-paragraph Построить баню в течение двух недель считалось ранее возможным. Наша кмопания имеет на складе бани в разобранном состоянии-что позволяет их собирать в кратчайший срок.
									a(href='').nav-tabs__list-item--bathroom.bathroom-1
										img(src='../img/house3.jpg').bathroom__img
										span.bathroom__text Бани из сруба
									a(href='').nav-tabs__list-item--bathroom
										img(src='../img/house2.jpg').bathroom__img
										span.bathroom__text Бани из сруба
								li.nav-tabs__list-item
									p.nav-tabs__list-item--text Строительство бань от 6-х недель
									p.nav-tabs__list-item-paragraph Построить баню в течение двух недель считалось ранее возможным. Наша кмопания имеет на складе бани в разобранном состоянии-что позволяет их собирать в кратчайший срок.
									a(href='').nav-tabs__list-item--bathroom.bathroom-1
										img(src='../img/house3.jpg').bathroom__img
										span.bathroom__text Бани из сруба
									a(href='').nav-tabs__list-item--bathroom
										img(src='../img/house2.jpg').bathroom__img
										span.bathroom__text Бани из сруба

								li.nav-tabs__list-item
									p.nav-tabs__list-item--text Строительство бань от 7-х недель
									p.nav-tabs__list-item-paragraph Построить баню в течение двух недель считалось ранее возможным. Наша кмопания имеет на складе бани в разобранном состоянии-что позволяет их собирать в кратчайший срок.
									a(href='').nav-tabs__list-item--bathroom.bathroom-1
										img(src='../img/house4.jpg').bathroom__img
										span.bathroom__text Бани из сруба
									a(href='').nav-tabs__list-item--bathroom
										img(src='../img/house3.jpg').bathroom__img
										span.bathroom__text Бани из сруба
					li.header__nav-item
						a.header__nav-link(href="") Примеры работ
						.header__nav-block.header__nav-block--four
							ul.nav-tabs__controls
								li.nav-tabs__controls-item
									a.nav-tabs__controls-link(href="") Каркасные дома
								li.nav-tabs__controls-item
									a.nav-tabs__controls-link(href="") Дома из профилированного бруса
								li.nav-tabs__controls-item
									a.nav-tabs__controls-link(href="") Деревянные бани
								li.nav-tabs__controls-item
									a.nav-tabs__controls-link(href="") Дачные дома
								li.nav-tabs__controls-item
									a.nav-tabs__controls-link(href="") Сферические дома и бани
								li.nav-tabs__controls-item
									a.nav-tabs__controls-link(href="") Участки
							ul.nav-tabs__list
								li.nav-tabs__list-item.active
									p.nav-tabs__list-item--text Строительство бань от 2-х недель
									p.nav-tabs__list-item-paragraph Построить баню в течение двух недель считалось ранее возможным. Наша кмопания имеет на складе бани в разобранном состоянии-что позволяет их собирать в кратчайший срок.
									a(href='').nav-tabs__list-item--bathroom.bathroom-1
										img(src='../img/house1.jpg').bathroom__img
										span.bathroom__text Бани из сруба
									a(href='').nav-tabs__list-item--bathroom
										img(src='../img/house2.jpg').bathroom__img
										span.bathroom__text Бани из сруба
								li.nav-tabs__list-item
									p.nav-tabs__list-item--text Строительство бань от 3-х недель
									p.nav-tabs__list-item-paragraph Построить баню в течение двух недель считалось ранее возможным. Наша кмопания имеет на складе бани в разобранном состоянии-что позволяет их собирать в кратчайший срок.
									a(href='').nav-tabs__list-item--bathroom.bathroom-1
										img(src='../img/house1.jpg').bathroom__img
										span.bathroom__text Бани из сруба
									a(href='').nav-tabs__list-item--bathroom.bathroom-1
										img(src='../img/house2.jpg').bathroom__img
										span.bathroom__text Бани из сруба
								li.nav-tabs__list-item
									p.nav-tabs__list-item--text Строительство бань от 4-х недель
									p.nav-tabs__list-item-paragraph Построить баню в течение двух недель считалось ранее возможным. Наша кмопания имеет на складе бани в разобранном состоянии-что позволяет их собирать в кратчайший срок.
									a(href='').nav-tabs__list-item--bathroom.bathroom-1
										img(src='../img/house3.jpg').bathroom__img
										span.bathroom__text Бани из сруба
									a(href='').nav-tabs__list-item--bathroom
										img(src='../img/house2.jpg').bathroom__img
										span.bathroom__text Бани из сруба
								li.nav-tabs__list-item
									p.nav-tabs__list-item--text Строительство бань от 5-х недель
									p.nav-tabs__list-item-paragraph Построить баню в течение двух недель считалось ранее возможным. Наша кмопания имеет на складе бани в разобранном состоянии-что позволяет их собирать в кратчайший срок.
									a(href='').nav-tabs__list-item--bathroom.bathroom-1
										img(src='../img/house3.jpg').bathroom__img
										span.bathroom__text Бани из сруба
									a(href='').nav-tabs__list-item--bathroom
										img(src='../img/house2.jpg').bathroom__img
										span.bathroom__text Бани из сруба
								li.nav-tabs__list-item
									p.nav-tabs__list-item--text Строительство бань от 6-х недель
									p.nav-tabs__list-item-paragraph Построить баню в течение двух недель считалось ранее возможным. Наша кмопания имеет на складе бани в разобранном состоянии-что позволяет их собирать в кратчайший срок.
									a(href='').nav-tabs__list-item--bathroom.bathroom-1
										img(src='../img/house3.jpg').bathroom__img
										span.bathroom__text Бани из сруба
									a(href='').nav-tabs__list-item--bathroom
										img(src='../img/house2.jpg').bathroom__img
										span.bathroom__text Бани из сруба

								li.nav-tabs__list-item
									p.nav-tabs__list-item--text Строительство бань от 7-х недель
									p.nav-tabs__list-item-paragraph Построить баню в течение двух недель считалось ранее возможным. Наша кмопания имеет на складе бани в разобранном состоянии-что позволяет их собирать в кратчайший срок.
									a(href='').nav-tabs__list-item--bathroom.bathroom-1
										img(src='../img/house4.jpg').bathroom__img
										span.bathroom__text Бани из сруба
									a(href='').nav-tabs__list-item--bathroom
										img(src='../img/house3.jpg').bathroom__img
										span.bathroom__text Бани из сруба
					li.header__nav-item
						a.header__nav-link(href="") Отзывы
						.header__nav-block.header__nav-block--five
							ul.nav-tabs__controls
								li.nav-tabs__controls-item
									a.nav-tabs__controls-link(href="") Каркасные дома
								li.nav-tabs__controls-item
									a.nav-tabs__controls-link(href="") Дома из профилированного бруса
								li.nav-tabs__controls-item
									a.nav-tabs__controls-link(href="") Деревянные бани
								li.nav-tabs__controls-item
									a.nav-tabs__controls-link(href="") Дачные дома
								li.nav-tabs__controls-item
									a.nav-tabs__controls-link(href="") Сферические дома и бани
								li.nav-tabs__controls-item
									a.nav-tabs__controls-link(href="") Участки
							ul.nav-tabs__list
								li.nav-tabs__list-item.active
									p.nav-tabs__list-item--text Строительство бань от 2-х недель
									p.nav-tabs__list-item-paragraph Построить баню в течение двух недель считалось ранее возможным. Наша кмопания имеет на складе бани в разобранном состоянии-что позволяет их собирать в кратчайший срок.
									a(href='').nav-tabs__list-item--bathroom.bathroom-1
										img(src='../img/house1.jpg').bathroom__img
										span.bathroom__text Бани из сруба
									a(href='').nav-tabs__list-item--bathroom
										img(src='../img/house2.jpg').bathroom__img
										span.bathroom__text Бани из сруба
								li.nav-tabs__list-item
									p.nav-tabs__list-item--text Строительство бань от 3-х недель
									p.nav-tabs__list-item-paragraph Построить баню в течение двух недель считалось ранее возможным. Наша кмопания имеет на складе бани в разобранном состоянии-что позволяет их собирать в кратчайший срок.
									a(href='').nav-tabs__list-item--bathroom.bathroom-1
										img(src='../img/house1.jpg').bathroom__img
										span.bathroom__text Бани из сруба
									a(href='').nav-tabs__list-item--bathroom.bathroom-1
										img(src='../img/house2.jpg').bathroom__img
										span.bathroom__text Бани из сруба
								li.nav-tabs__list-item
									p.nav-tabs__list-item--text Строительство бань от 4-х недель
									p.nav-tabs__list-item-paragraph Построить баню в течение двух недель считалось ранее возможным. Наша кмопания имеет на складе бани в разобранном состоянии-что позволяет их собирать в кратчайший срок.
									a(href='').nav-tabs__list-item--bathroom.bathroom-1
										img(src='../img/house3.jpg').bathroom__img
										span.bathroom__text Бани из сруба
									a(href='').nav-tabs__list-item--bathroom
										img(src='../img/house2.jpg').bathroom__img
										span.bathroom__text Бани из сруба
								li.nav-tabs__list-item
									p.nav-tabs__list-item--text Строительство бань от 5-х недель
									p.nav-tabs__list-item-paragraph Построить баню в течение двух недель считалось ранее возможным. Наша кмопания имеет на складе бани в разобранном состоянии-что позволяет их собирать в кратчайший срок.
									a(href='').nav-tabs__list-item--bathroom.bathroom-1
										img(src='../img/house3.jpg').bathroom__img
										span.bathroom__text Бани из сруба
									a(href='').nav-tabs__list-item--bathroom
										img(src='../img/house2.jpg').bathroom__img
										span.bathroom__text Бани из сруба
								li.nav-tabs__list-item
									p.nav-tabs__list-item--text Строительство бань от 6-х недель
									p.nav-tabs__list-item-paragraph Построить баню в течение двух недель считалось ранее возможным. Наша кмопания имеет на складе бани в разобранном состоянии-что позволяет их собирать в кратчайший срок.
									a(href='').nav-tabs__list-item--bathroom.bathroom-1
										img(src='../img/house3.jpg').bathroom__img
										span.bathroom__text Бани из сруба
									a(href='').nav-tabs__list-item--bathroom
										img(src='../img/house2.jpg').bathroom__img
										span.bathroom__text Бани из сруба

								li.nav-tabs__list-item
									p.nav-tabs__list-item--text Строительство бань от 7-х недель
									p.nav-tabs__list-item-paragraph Построить баню в течение двух недель считалось ранее возможным. Наша кмопания имеет на складе бани в разобранном состоянии-что позволяет их собирать в кратчайший срок.
									a(href='').nav-tabs__list-item--bathroom.bathroom-1
										img(src='../img/house4.jpg').bathroom__img
										span.bathroom__text Бани из сруба
									a(href='').nav-tabs__list-item--bathroom
										img(src='../img/house3.jpg').bathroom__img
										span.bathroom__text Бани из сруба
					li.header__nav-item
						a.header__nav-link(href="record.html") Контакты




