script(src="https://maps.googleapis.com/maps/api/js?v=3.exp&callback=initialize")
script(src="https://maps.googleapis.com/maps/api/js?v=3.exp&callback=initialize2")

// build:js js/vendor.min.js
// bower:js
script(src='/bower/jquery/dist/jquery.js')
script(src='/bower/jquery-ui/jquery-ui.js')
script(src='/bower/bxslider-4/dist/jquery.bxslider.js')
script(src='/bower/jquery-mousewheel/jquery.mousewheel.js')

// endbower
// endbuild
// build:js js/plugin.min.js
script(src="scripts/jquery.fancybox.pack.js")
script(src='scripts/jquery.mCustomScrollbar.concat.min.js')
// endbuild
// build:js js/main.min.js
script(src="scripts/main.js")
// endbuild

